body{
    font-family: 'Nanum Gothic Coding', monospace;
    background-image: url(/static/img/background.jpg);
}
*:focus { 
    outline:none; 
}
.top{
    width: 100%;
    display:flex;
    flex-direction: column-reverse;

}
.top_left{
    display: flex;  
    justify-content: center;
	align-items:center;
    font-size: 23px;
}
.character{
    display: flex;
    float: left;
}
#character{
    width: 100px;
    height: 95px;
    /* position: absolute; */
}
.logo{
    display: flex;
    float: left;
    padding-top:20px;
    margin-left:-20px;
}
#logo{
    height: 50px;
    width: 150px;
    /* position: absolute;
    margin-left: 76px;
    margin-top: 33px; */
}
.top_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sign{
    font-family: 'Amatic SC', cursive;
    color: white;
    width: auto;
    padding-left : 5%;
    padding-right : 5%;
    height: 30px;
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    margin: 2% 0 0 0;
}
.main{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-top: 10%;
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

#img{
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}
.intro{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
    display :flex;
    justify-content: center;
    width:80%;
    margin-top:15%;
}
.container2{
    display :flex;
    flex-direction: column-reverse;
    justify-content: center;
    width:80%;
}

.form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width:100%
}
table{
    width: 100%;
    display:flex;
}
tbody{
    width:100%;
}
tr{
    display:flex;   
    width: 100%;
    height: 50px;
}
tr > td:nth-child(1){
    width: 30%;
    font-size:15px;
    color: white
}
tr > td:nth-child(2){
    width: 70%;
    color: white
}
input{
    width: 100%;
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    color: white;
}
input:focus{
    outline-width:0px;
}
.submit{
    margin-top:5%;
    text-align: center;
    display :flex;  
}

input[type=button]{
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
}

input[type=submit]{
    width: 100%;
    height: 30px;
    padding-left: 30%;
    padding-right: 30%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
}

input[type=image]{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100px;
    margin-top: 30%;
    border: none;;
}
.alert{
    height: 20px;
    font-size: 10px;
    color: red;
}
button{
    font-family: 'Amatic SC', cursive;
    width: 100%;
    height: 50px;
    background-color:rgb(70, 142, 201);
    font-size: 30px;
    border: none;
    border-radius: 15px;
    margin: 1%;
    color: white;
}

.move{
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rotate_image1 20s linear infinite;
    transform-origin: 50% 50%;
    z-index: -1;
}
#move2{
    width: 70px;
    height: 70px;
    animation: rotate_image2 30s linear infinite;
}
#move3{
    animation: rotate_image3 5s linear infinite;
}
#move4{
    animation: rotate_image4 15s linear infinite;
}
#move5{
    animation: rotate_image5 20s linear infinite;
}
#move6{
    width: 80px;
    animation: rotate_image6 5s linear infinite;
}
@keyframes rotate_image1{
    0% {
        left: -100px;
        top: 200px;
    }
    50%{
        top: 500px;
    }
	100% {
        left: 94%;
        top: 100px;
    	transform: rotate(360deg);
    }
}
@keyframes rotate_image2{
    0% {
        left: 200px;
        top: -50px;
    }
	50% {
        left: 400px;
        top: 600px;
    }
    100%{
        left: 94%;
        top: 400px;
        transform: rotate(360deg);
    }
}
@keyframes rotate_image3{
    0% {
        left: 85%;
        top: 300px;
    }
	100% {
        left: 85%;
        top: 300px;
    	transform: rotate(360deg);
    }
}

@keyframes rotate_image4{
    0% {
        left: 85%;
        top: 100px;
    }
	100% {
        left: 65%;
        top: 700px;
    	transform: rotate(360deg);
    }
}
@keyframes rotate_image5{
    0% {
        left: 85%;
        top: 600px;
    }
	100% {
        left: 15%;
        top: 100px;
    	transform: rotate(360deg);
    }
}
@keyframes rotate_image6{
    0% {
        left: 15%;
        top: 500px;
    }
	100% {
        left: 15%;
        top: 500px;
    	transform: rotate(360deg);
    }
}

#fake_canvas{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 2;
}
#canvas{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
}
#label-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100%;
    margin: 1%;
    text-align: center;
    line-height: 2;
    padding-left: 0;
    overflow: auto;
    overflow-x: hidden;
}
#label-container::-webkit-scrollbar{
    display: none;
}
#notification{
    list-style: none;
    background-color:rgb(57, 104, 183);
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
    line-height: 1.5;
    font-size: 13px;
    text-align: left;
    margin: 1%;
    color: white;
}
#team{
    color: white;
    text-align: right;
    margin-top: 1%;
    margin-right: 2%;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    margin: 1%;
    margin-right: 0;
    border-radius: 15px;
    background-color: white;
}
.right{
    width: 100%;
    height: 400px;
    margin: 1%;
    position: relative;
}